.search-box {
  --width: 100%;
  --height: 50px;
  --border-width: "4px";
  --font-size: "16px";
  --color: #1677ff;
  --right: 20px;
  --ver: 0.7071;
  position: relative;
  width: var(--width);
}

.search-box-content {
  position: absolute;
  height: var(--height);
  right: var(--right);
  top: 50%;
  transform: translate(0, -50%);
  &.on {
  animation-name: in-out;
  animation-duration: 0.7s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
}


.search-box-input {
  box-sizing: border-box;
  width: var(--height);
  height: var(--height);
  border: var(--border-width) solid var(--color);
  border-radius: 50px;
  background: transparent;
  color: var(--color);
  font-size: var(--font-size);
  font-weight: 400;
  outline: 0;
  transition: width 0.3s ease-in-out, padding 0.3s;
}

.search-box-btn {
  background: none;
  position: absolute;
  top: 0px;
  right: 0;
  height: var(--height);
  width: var(--height);
  padding: 0;
  border-radius: 100px;
  outline: 0;
  border: 0;
  color: inherit;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.search-box-btn:before {
  content: "";
  position: absolute;
  width: calc(var(--height) / 2);
  height: var(--border-width);
  border-radius: 25px;
  background-color: var(--color);
  transform: rotate(45deg);
  margin-top: calc(var(--height) / 2);
  margin-left: calc(var(--height) / 4);
  transition: 0.3s ease-in-out;
}
.search-box-btn:after {
  content: "";
  position: absolute;
  width: calc(var(--height) / 2);
  height: var(--border-width);
  border-radius: 25px;
  background-color: var(--color);
  transform: rotate(45deg);
  margin-top: calc(var(--height) / 2);
  margin-left: calc(var(--height) / 4);
  transition: 0.3s ease-in-out;
}

.close {
  transition: 0.3s ease-in-out;
}

.close:before {
  content: "";
  position: absolute;
  width: calc(var(--height) / 2);
  height: var(--border-width);
  margin-top: 0;
  margin-left: calc(var(--height) / -2);
  border-radius: 20px;
  background-color: var(--color);
  transform: rotate(45deg);
  transition: 0.3s ease-in-out;
}

.close:after {
  content: "";
  position: absolute;
  width: calc(var(--height) / 2);
  height: var(--border-width);
  margin-top: 0;
  margin-left: calc(var(--height) / -2);
  border-radius: 20px;
  background-color: var(--color);
  cursor: pointer;
  transition: 0.3s ease-in-out;
  animation: change 0.3s ease-in-out 0.3s forwards;
}

@keyframes change {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}

.square {
  box-sizing: border-box;
  padding: 0 40px 0 10px;
  width: var(--width);
  height: var(--height);
  border: var(--border-width) solid var(--color);
  border-radius: 50px;
  background: none;
  color: var(--color);
  font-size: var(--font-size);
  font-weight: 400;
  outline: 0;
  transition: width 0.3s ease-in-out, padding 0.3s;
}
