.drag-card-wrap {
  display: flex;
  .drag-handle {
    width: 10%;
    text-align: center;
    line-height: 60px;
    background: #99999922;
    border-bottom: 1px solid #99999966;
    .drag-icon {
      font-size: 16px;
      user-select: none;
    }
  }
}

.drag-card-wrap.dragging {
  background-color: #faeaff;
  opacity: 0.5;
  .nut-cell {
    // opacity: 0.5;
    background-color: #faeaff;
  }
}
