@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  background: -webkit-linear-gradient(top, #8dc4ff, #ffc9c9); /* Safari/Chrome */
  height: 100vh;
  overflow: scroll;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.app-wrapper {
  margin: 20px 10px;
}

.bottom-tab-bar {
  position: fixed;
  bottom: 10px;
  width: calc(100vw - 20px);
  // transform: translate(10px);
  border-radius: 40px;
  background: rgba(0, 0, 0, 0.2); /* 半透明背景 */
  backdrop-filter: blur(10px); /* 毛玻璃模糊效果 */
  -webkit-backdrop-filter: blur(10px); /* 兼容 Safari */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* 添加阴影 */
  border: 1px solid rgba(255, 255, 255, 0.3); /* 边框 */
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
}

.bottom-button {
  position: fixed;
  width: 50px;
  bottom: 80px;
  right: 10px;
  transform: translateY(0);
  z-index: 999;
  background: #1677ff;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 5px 5px 15px 5px #00000022;
  &.change-to-add-btn {
    animation-name: change-to-add-btn;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
  }
  &.change-to-close-btn {
    z-index: 9999;
    animation-name: change-to-close-btn;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
  }
  @keyframes change-to-close-btn {
    0% {
      transform: translateY(0) rotate(0deg);
      background: #1677ff;
    }
    100% {
      background: #ff5d5d;
      transform: translateY(calc(-100vh + 50px + 90px)) rotate(405deg); /* 视窗高度减去上下间距 */
    }
  }

  @keyframes change-to-add-btn {
    0% {
      background: #ff5d5d;
      transform: translateY(calc(-100vh + 50px + 90px)) rotate(405deg); /* 视窗高度减去上下间距 */
    }
    100% {
      background: #1677ff;
      transform: translateY(0) rotate(0deg);
    }
  }
}
