@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
:root {
  --nutui-empty-background-color: transparent;
  --nutui-popover-font-size: 14px;
  --nutui-tag-padding: 12px;
  --nutui-input-font-size: 16px;
  --nutui-tag-font-size: 14px;
  --main-color: #7700ff;
  --nutui-color-primary: #7700ff;
  --nutui-color-primary-stop-1: #8d29ff;
  --nutui-color-primary-stop-2: #8419ff;
  --nutui-button-primary-disabled: #f1bfff;
  --bold-text-text-shadow: 1px 0 0 currentColor, -1px 0 0 currentColor, 0 1px 0 currentColor, 0 -1px 0 currentColor,
    1px 1px 0 currentColor, -1px -1px 0 currentColor, 1px -1px 0 currentColor, -1px 1px 0 currentColor;
}
html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  max-height: -webkit-fill-available;
  overflow: scroll;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  padding-top: env(safe-area-inset-top); /* 适配顶部安全区域 */
  padding-bottom: env(safe-area-inset-bottom); /* 适配底部安全区域 */
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.bottom-tab-bar {
  position: fixed;
  bottom: 10px;
  width: 100%;
  // transform: translate(10px);
  border-radius: 40px;
  background: rgba(0, 0, 0, 0.2) !important; /* 半透明背景 */
  backdrop-filter: blur(10px) !important; /* 毛玻璃模糊效果 */
  -webkit-backdrop-filter: blur(10px) !important; /* 兼容 Safari */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important; /* 添加阴影 */
  border: 1px solid rgba(255, 255, 255, 0.3) !important; /* 边框 */
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  .nut-tabbar-item {
    justify-content: space-evenly;
  }
}
